.custom-purple-bg {
    background-color: #754FFE;
}

.custom-white {
    color: white;
}

.custom-green {
    background-color: #19CB98;
}

.custom-padding {
    padding: 5%;
}

.custom-fs {
    font-size: 2.5em;
}

.custom-border {
    border: 0;
}

h5.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.custom-avatar-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-grey {
    color: grey;
}

.custom-notification-green {
    width: 10px;
    z-index: 5;
    height: 10px;
    display: inline-block;
    border: 1px solid white;
    bottom: 9%;
    right: 28%;
    background-color: #19CB98;

}

.custom-notification-purple {
    width: 10px;
    z-index: 5;
    height: 10px;
    display: inline-block;
    border: 1px solid white;
    top: 0%;
    right: 30%;
    background-color: #754FFE;
}

#profile {
    top: 1%;
    right: 1%;
}

.custom-item {
    width: fit-content;
}

.custom-email {
    color: grey;
}

.custom-user-toggle {
    left: 5%;
}
